// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

// Variables
@import 'variables';

:root{
    --theme-bg-color: rgba(0 0 0 / 30%);
}
* {
    margin: 0; padding: 0; box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

::-webkit-scrollbar{
  display:none;
}

body {
  width: 100vw;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;

}

input[type="submit"] {
    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.glass-wrapper {
    height:100vh;
    overflow-y: hidden;
    width: 100vw;
    font-family: $primary-font;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, #5433FF, #20BDFF,#A5FECB);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
}

.glass-wrapper::before,
.glass-wrapper::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.glass-wrapper::before{
  clip-path: circle(30% at left 20%);
  opacity: 0.4;
  background: linear-gradient(-45deg, #A5FECB, #20BDFF,#5433FF);
  animation: ball 10s ease infinite;
  @keyframes ball {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
.glass-wrapper::after{
  opacity: 0.4;
  clip-path: circle(25% at right 80%);
  background-image: linear-gradient( 135deg, #0786db 10%, #79b0d4  100%);
}
.navbar {
    height: $navbar-height;
    padding: 20px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        height: 30px;
    }
    a {
        margin-left: 20px;
    }
}

.menu {
  nav {
    display: flex;
    align-items: center;
  }
}

.menu-anchor {
  position: relative;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-radius: 10px;
  .sub-cta-button {
    color: $primary-color;
    margin: 0;
    padding: 10px;
    &:hover {
      cursor: pointer;
      color: $secondary-color;
  }
  }
}

.cta-button {
    background-color: #fff;
    color: $primary-color;
    border-radius: 10px;
    padding: 10px 20px;
    i {
        margin-right: 10px;
    }
    &:hover {
        background-color: $secondary-color;
        color: #fff;
        cursor: pointer;
    }
}

.user-button {
  margin: 0 !important;
  i {
    margin: 0;
    margin-left: 10px;
  }
}

.container {
    padding: 20px 120px;
}

.hero {
    overflow-y: initial;
    position:relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    transition: height 1s ease;
    h1 {
        font-size: 60px;
    }
    h3 {
        font-weight: 400;
    }
    .search-box {
        display: flex;
        align-items: center;
        margin-top: 20px;
        input {
            background: none;
            color: black;
            font-family: inherit;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
      width: 30px;
      margin-bottom: 5px;
  }
}

.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  margin: 50px;
}

.restaurant-picture {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // img {
  //   width: 100%;
  // }
}

.card {
  margin: 20px;
  height: 350px;
  width: 250px;
  background-color: #fff;
  border-radius: .3125em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.my-card {
  height: fit-content;
}

.card-image {
  height: 150px;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-content {
  height: 150px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  h2 {
    font-size: 1.2rem;
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  p {
    font-size: 12px;
    padding: 3px 0;
  }
  .icon {
    width: 15px;
    height: 15px;
    color: $primary-color;
    cursor: pointer;
  }
}

.my-action {
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid $primary-color;
  color: $primary-color;
  margin: 10px 0;
  padding: 5px;
  font-size: 14px;
  font-family: inherit;
  &:hover {
      cursor: pointer;
  }
}

.card-footer {
  display: flex;
  justify-content: center;
  position: relative;
  .card-button {
    bottom: -74px;
    position:absolute;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    white-space: nowrap;
    padding: .75em 3em;
    background-image: linear-gradient(-45deg, #5433FF, #20BDFF);
    border-radius: 1.5em;
    box-shadow: 0 .5em 1em 0 rgba(#bbb, .2);
    border: 0px solid $primary-color;
    cursor: pointer;
    &:hover, &:focus {
        background: #fff;
        border: 0px solid $primary-color;
        color: $primary-color;
        box-shadow: 0 5px 15px rgba(84, 51, 255, .9);
    }
  }
}

.isSearch {
  height: calc(40vh - #{$navbar-height}) !important;
}

.restaurant-header {
    background-color: rgba(41, 128, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
    margin-left: 5vh;
    margin-right: 5vh;
    border-radius: 10px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.7);
    border-left: 0.5px solid rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    h1 {
      text-transform: uppercase;
    }
    .restaurant-details {
      color: #fff;
    }
    .restaurant-edit-button {
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }
    .restaurant-delete-button {
        color: #fff;
        &:hover {
          text-decoration: underline;
      }
    }
}

.restaurant-name {
  text-transform: uppercase;
  h2 {
    font-size: 18px;
  }
}

.info {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin: 5vh;
}

.restName {
  color: white;
  text-transform: uppercase;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}

.cart-container {
  width: 35%;
}

.container-item-card {
  display: flex;
  justify-content: space-between;
  .item-list {
    width: 80%;
  }
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 10px;
  .item-cart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .cart-tot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    margin-top: 20px;
  }

  .checkout-button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;

  }

  .delete-item-cart {
    background-color: transparent;
    width: 10%;
    color: #c0392b;
    padding: 5px;
    outline: none;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.item-cart-quantity {
  width: 20%;
}

.item-cart-name {
  width: 30%;
  text-transform: capitalize;
}

.item-cart-price {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.quantity-button {
  background-color: transparent;
  color: $primary-color;
  border: none;
  outline: none;
  padding: 5px;
  &:hover {
    cursor: pointer;
  }
}

.item-create-button {
    position: relative;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 100%);
    border: none;
    z-index: 1;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
}

.item-button{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #89d8d3;
    color: #fff;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    padding: 5px 10px;
    z-index: 1;
    border-radius: 10px;
    &:active{
        top: 2px;
    }
    &:hover {
      cursor: pointer;
    }
}

.item-button::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 10px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
    7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.1s linear;
}

.item-button:hover{
  color: #fff;
  border-radius: 10px;
}
.item-button:hover::after{
  top: 0;
  height: 100%;
  border-radius: 10px;
}

.menu-item-card {
  width: 400px;
  height: 150px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
      font-size: 12px;
  }
  .menu-item-delete-button {
      color: $primary-color;
      border: 1px solid $primary-color;
      padding: 5px 10px;
      margin-left: 10px;
  }
}

.my-menu-item {
  width: 500px;
}

.menu-item-info {
  width: 50%;
}

.menu-item-price {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .item-button {
    margin-bottom: 10px;
  }
}

.dashboard-restaurants {
  .card-header {
    .card-title{
      height: 50px;
      margin-bottom: 20px;
    }
  }
}

.menu-item-my-buttons {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: $primary-color;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.dashboard-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    color: #fff;
    margin-bottom: 10px;
  }
}

.my-restaurants {
  .info {
    margin: 0;
  }
  .icon {
    height: 30px;
    width: 30px;
  }
  p {
    font-size: 14px;
  }
}

.my-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.my-buttons a {
  border-bottom: 1px solid $primary-color;
  color: $primary-color;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
}

.my-buttons button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $primary-color;
  color: $secondary-color;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  &:hover {
    cursor: pointer;
  }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:20px
}

label {
    border-radius: 30px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 5px 12px;
    transition: all 1s ease;
    border-radius: 0;
    &::after{
      content: '';
      display: block;
      height: 2px;
    //   width: 80%;
    //   background-color: #F0AD4E;
      transition: all 1s ease 0.5s;
    }
    input {
      transition: width 1s ease, opacity 0.5s ease 0.5s;
      opacity: 1;
      width: 180px;
      height: 25px;
      border: 0;
      outline: none;
      color: darken(#F0AD4E, 25)
    }
    i{
      position: absolute;
      top: 11px;
      right: 11px;
      color: #333;
      cursor: pointer;
    }
    &[data-state="close"]{
      border-radius: 30px;
      padding: 5px 5px;
       transition: all 1s ease;
      &::after{
        width: 0%;
        transition: all 0.3s ease;
      }
      i {
        pointer-events: none;
      }
      input {
        width: 28px;
        height: 25px;
        opacity:0;
        cursor: pointer;
        transition: opacity 0.5s ease, width 1s ease;
        -webkit-appearance:none
      }
    }
    &[data-state="opan"] {
        border-radius: 30px;
    }
  }

  body {
    min-height: 100vh;
  }

  .form {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: #fff;
    border-bottom-right-radius: .5rem;

    label {
      font-size: 1;
      font-weight: bold;
      box-shadow: none;
      display: block;
      margin-bottom: .5em;
    }

    input { width: 100%; }
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

.form-container{
    display: flex;
    align-items: center;
    justify-content:center;
}


.form-structor {
  margin-top: 100px;
	// background-color: #222;
	border-radius: 15px;
	height: 350px;
	width: 550px;
	position: relative;
	overflow: hidden;
    align-items: center;

	&::after {
		content: '';
		opacity: .8;
		position: absolute;
		top: 0;right:0;bottom:0;left:0;
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: 500px;
        // background-color: inherit;
		// background-image: url(https://cdn.dribbble.com/users/160641/screenshots/14477570/media/89b37143200c0a153e6b16441b021be1.gif);
        // background-size: cover;
        background-position: center;
	}

	.signup {
		position: absolute;
		top: 50%;
		left: 50%;
    transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		width: 65%;
		z-index: 5;
    transition: all .3s ease;
		-webkit-transition: all .3s ease;


		&.slide-up {
			top: 5%;
      transform: translate(-50%, 0%);
			-webkit-transform: translate(-50%, 0%);
      transition: all .3s ease;
			-webkit-transition: all .3s ease;
		}

		&.slide-up .form-holder,
		&.slide-up .submit-btn {
			opacity: 0;
			visibility: hidden;
		}

		&.slide-up .form-title {
			font-size: 1em;
			cursor: pointer;
		}

		&.slide-up .form-title span {
			margin-right: 5px;
			opacity: 1;
			visibility: visible;
      transition: all .3s ease;
			-webkit-transition: all .3s ease;
		}

		.form-title {
			color: #fff;
			font-size: 1.7em;
			text-align: center;

			span {
				color: rgba(0,0,0,0.4);
				opacity: 0;
				visibility: hidden;
        transition: all .3s ease;
				-webkit-transition: all .3s ease;
			}
		}

		.form-holder {
			border-radius: 15px;
			background-color: #fff;
			overflow: hidden;
			margin-top: 50px;
			opacity: 1;
			visibility: visible;
      transition: all .3s ease;
			-webkit-transition: all .3s ease;

			.input {
				border: 0;
				outline: none;
				box-shadow: none;
				display: block;
				height: 30px;
				line-height: 30px;
				padding: 8px 15px;
				border-bottom: 1px solid #eee;
				width: 100%;
				font-size: 12px;

				&:last-child {
					border-bottom: 0;
				}
				&::-webkit-input-placeholder {
					color: rgba(0,0,0,0.4);
				}
			}
		}

		.submit-btn {
			background-color: rgba(0,0,0,0.4);
			color: rgba(256,256,256,0.7);
			border:0;
			border-radius: 15px;
			display: block;
			margin: 15px auto;
			padding: 15px 45px;
			width: 100%;
			font-size: 13px;
			font-weight: bold;
			cursor: pointer;
			opacity: 1;
			visibility: visible;
      transition: all .3s ease;
			-webkit-transition: all .3s ease;

			&:hover {
				transition: all .3s ease;
				background-color: rgba(0,0,0,0.8);
			}
		}
	}

	.login {
		position: absolute;
		top: 20%;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		z-index: 5;
    transition: all .3s ease;
		-webkit-transition: all .3s ease;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: -20px;
      transform: translate(-50%, 0);
			-webkit-transform: translate(-50%, 0);
			background-color: #fff;
			width: 200%;
			height: 250px;
			border-radius: 50%;
			z-index: 4;
      transition: all .3s ease;
			-webkit-transition: all .3s ease;
		}

		.center {
			position: absolute;
			top: calc(50% - 10%);
			left: 50%;
      transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			width: 65%;
			z-index: 5;
      transition: all .3s ease;
			-webkit-transition: all .3s ease;

			.form-title {
				color: #000;
				font-size: 1.7em;
				text-align: center;

				span {
					color: rgba(0,0,0,0.4);
					opacity: 0;
			    visibility: hidden;
          transition: all .3s ease;
				  -webkit-transition: all .3s ease;
				}
			}

			.form-holder {
				border-radius: 15px;
				background-color: #fff;
				border: 1px solid #eee;
				overflow: hidden;
				margin-top: 50px;
				opacity: 1;
				visibility: visible;
        transition: all .3s ease;
				-webkit-transition: all .3s ease;

				.input {
					border: 0;
					outline: none;
					box-shadow: none;
					display: block;
					height: 30px;
					line-height: 30px;
					padding: 8px 15px;
					border-bottom: 1px solid #eee;
					width: 100%;
					font-size: 12px;

					&:last-child {
						border-bottom: 0;
					}
					&::-webkit-input-placeholder {
						color: rgba(0,0,0,0.4);
					}
				}
			}

			.submit-btn {
				background-color: #6B92A4;
				color: rgba(256,256,256,0.7);
				border:0;
				border-radius: 15px;
				display: block;
				margin: 15px auto;
				padding: 15px 45px;
				width: 100%;
				font-size: 13px;
				font-weight: bold;
				cursor: pointer;
				opacity: 1;
				visibility: visible;
        transition: all .3s ease;
				-webkit-transition: all .3s ease;

				&:hover {
					transition: all .3s ease;
					background-color: rgba(0,0,0,0.8);
				}
			}
		}

		&.slide-up {
			top: 90%;
      transition: all .3s ease;
			-webkit-transition: all .3s ease;
		}

		&.slide-up .center {
			top: 10%;
      transform: translate(-50%, 0%);
			-webkit-transform: translate(-50%, 0%);
      transition: all .3s ease;
			-webkit-transition: all .3s ease;
		}

		&.slide-up .form-holder,
		&.slide-up .submit-btn {
			opacity: 0;
			visibility: hidden;
      transition: all .3s ease;
			-webkit-transition: all .3s ease;
		}

		&.slide-up .form-title {
			font-size: 1em;
			margin: 0;
			padding: 0;
			cursor: pointer;
      transition: all .3s ease;
			-webkit-transition: all .3s ease;
		}

		&.slide-up .form-title span {
			margin-right: 5px;
			opacity: 1;
			visibility: visible;
      transition: all .3s ease;
			-webkit-transition: all .3s ease;
		}
	}
}

.container-list {
    height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.container-list::webkit-scrollbar{
    display: none;
}

.glass-container{
//   overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  height:90vh;
  width: 95%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  z-index: 12;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  position: relative;
  display:flex;
  flex-direction:column;
  &::-webkit-scrollbar {
    display: none;
  }
}
.edit-label{
    background-color: rgba(0, 0, 0, 0);
    color:white;
    font-weight: bold;
}
.container-list-edit {
    display:flex;
    justify-content: center;
  .form-structor-edit {
        // display: flex;
        // justify-content:center;
        border-radius: 15px;
        height: 70vh;
        width: 80vh;
        overflow: auto;
        margin-top: 5vh;
        &::after {
            content: '';
            opacity: .8;
            top: 0;right:0;bottom:0;left:0;
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: 500px;
            background-position: center;
        }

        .signup {
            width: 65%;
            z-index: 5;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            height: inherit;


            &.slide-up {
                top: 5%;
                transform: translate(-50%, 0%);
                -webkit-transform: translate(-50%, 0%);
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
            }

            &.slide-up .form-holder,
            &.slide-up .submit-btn {
                opacity: 0;
                visibility: hidden;
            }

            &.slide-up .form-title {
                font-size: 1em;
                cursor: pointer;
            }

            &.slide-up .form-title span {
                margin-right: 5px;
                opacity: 1;
                visibility: visible;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
            }

            .form-title {
                color: #fff;
                font-size: 1.7em;
                text-align: center;

                span {
                    color: rgba(0,0,0,0.4);
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s ease;
                    -webkit-transition: all .3s ease;
                }
            }

            .form-holder {
                border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 15px;
                background-color: rgba(0,0,0,0.2);
                overflow: hidden;
                margin-top: 10px;
                opacity: 1;
                visibility: visible;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;

                .input {
                    border: 0;
                    outline: none;
                    box-shadow: none;
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    padding: 8px 15px;
                    border-bottom: 1px solid #eee;
                    background-color: rgba(255, 255, 255, 0.8);
                    width: 100%;
                    font-size: 12px;

                    &:last-child {
                        border-bottom: 0;
                    }
                    &::-webkit-input-placeholder {
                        color: rgba(0,0,0,0.4);
                    }
                }
            }

            .submit-btn {
                background-color: rgba(255,255,255,0.8);
                color:  #5433FF;
                border:0;
                border-radius: 15px;
                display: block;
                margin: 15px auto;
                padding: 15px 45px;
                width: 100%;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
                opacity: 1;
                visibility: visible;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;

                &:hover {
                    transition: all .3s ease;
                    background-color: #5433FF;
                    color: white;
                }
            }
        }

        .login {
            position: absolute;
            top: 20%;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            z-index: 5;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: -20px;
                transform: translate(-50%, 0);
                -webkit-transform: translate(-50%, 0);
                background-color: #fff;
                width: 200%;
                height: 250px;
                border-radius: 50%;
                z-index: 4;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
            }

            .center {
                position: absolute;
                top: calc(50% - 10%);
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                width: 65%;
                z-index: 5;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;

                .form-title {
                    color: #000;
                    font-size: 1.7em;
                    text-align: center;

                    span {
                        color: rgba(0,0,0,0.4);
                        opacity: 0;
                    visibility: hidden;
                    transition: all .3s ease;
                      -webkit-transition: all .3s ease;
                    }
                }

                .form-holder {
                    border-radius: 15px;
                    background-color: #fff;
                    border: 1px solid #eee;
                    overflow: hidden;
                    margin-top: 50px;
                    opacity: 1;
                    visibility: visible;
                    transition: all .3s ease;
                    -webkit-transition: all .3s ease;

                    .input {
                        border: 0;
                        outline: none;
                        box-shadow: none;
                        display: block;
                        height: 30px;
                        line-height: 30px;
                        padding: 8px 15px;
                        border-bottom: 1px solid #eee;
                        width: 100%;
                        font-size: 12px;

                        &:last-child {
                            border-bottom: 0;
                        }
                        &::-webkit-input-placeholder {
                            color: rgba(0,0,0,0.4);
                        }
                    }
                }

                .submit-btn {
                    background-color: #6B92A4;
                    color: rgba(256,256,256,0.7);
                    border:0;
                    border-radius: 15px;
                    display: block;
                    margin: 15px auto;
                    padding: 15px 45px;
                    width: 100%;
                    font-size: 13px;
                    font-weight: bold;
                    cursor: pointer;
                    opacity: 1;
                    visibility: visible;
                    transition: all .3s ease;
                    -webkit-transition: all .3s ease;

                    &:hover {
                        transition: all .3s ease;
                        background-color: rgba(0,0,0,0.8);
                    }
                }
            }

            &.slide-up {
                top: 90%;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
            }

            &.slide-up .center {
                top: 10%;
                transform: translate(-50%, 0%);
                -webkit-transform: translate(-50%, 0%);
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
            }

            &.slide-up .form-holder,
            &.slide-up .submit-btn {
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
            }

            &.slide-up .form-title {
                font-size: 1em;
                margin: 0;
                padding: 0;
                cursor: pointer;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
            }

            &.slide-up .form-title span {
                margin-right: 5px;
                opacity: 1;
                visibility: visible;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
            }
        }
    }
}

.checkbox-container{
  padding: 30px;
  background: rgba(255, 255, 255, 0.8);
//   box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  z-index: 12;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  position: relative;
  display:flex;
  flex-direction:column;
}


.label{
    background-color: rgba(255,255,255, 0.0);
    color: rgb(0, 0, 0);
}

.glass-button{
    margin-bottom: 10vh;
    padding:10px;
    background-color: rgba(36, 38, 163, 0.411);
    border: 0px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.7);
    border-left: 0.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.payment-container {
  display: flex;
  justify-content: center;
}

.payment-box {
  width: 800px;
  form {
    width: 100%;
  }
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: $primary-color;
  border-radius: 10px;
  margin-bottom: 10px;
}

.input-wrapper {
  input {
    background-color: transparent;
    color: $primary-color;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }
}
.card-payment {
    body {
        background: #ddeefc;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
      }
      * {
        box-sizing: border-box;
        &:focus {
          outline: none;
        }
      }
      .wrapper {
        // min-height: 100vh;
        display: flex;
        padding: 50px 15px;
        @media screen and (max-width: 700px), (max-height: 500px) {
          flex-wrap: wrap;
          flex-direction: column;
        }
      }

      .card-form {
        max-width: 570px;
        margin: auto;
        width: 100%;

        @media screen and (max-width: 576px) {
          margin: 0 auto;
        }

        &__inner {
          background: #fff;
          // box-shadow: 3px 13px 30px 0px rgba(21, 34, 67, 0.2);
          box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
          border-radius: 10px;
          padding: 35px;
          padding-top: 180px;

          @media screen and (max-width: 480px) {
            padding: 25px;
            padding-top: 165px;
          }
          @media screen and (max-width: 360px) {
            padding: 15px;
            padding-top: 165px;
          }
        }

        &__row {
          display: flex;
          align-items: flex-start;
          @media screen and (max-width: 480px) {
            flex-wrap: wrap;
          }
        }

        &__col {
          flex: auto;
          margin-right: 35px;

          &:last-child {
            margin-right: 0;
          }

          @media screen and (max-width: 480px) {
            margin-right: 0;
            flex: unset;
            width: 100%;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          &.-cvv {
            max-width: 150px;
            @media screen and (max-width: 480px) {
              max-width: initial;
            }
          }
        }

        &__group {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;

          .card-input__input {
            flex: 1;
            margin-right: 15px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        &__button {
          width: 100%;
          height: 55px;
          background: #2364d2;
          border: none;
          border-radius: 5px;
          font-size: 22px;
          font-weight: 500;
          font-family: "Source Sans Pro", sans-serif;
          box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
          color: #fff;
          margin-top: 20px;
          cursor: pointer;

          @media screen and (max-width: 480px) {
            margin-top: 10px;
          }
        }
      }

      .card-item {
        max-width: 430px;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 2;
        width: 100%;

        @media screen and (max-width: 480px) {
          max-width: 310px;
          height: 220px;
          width: 90%;
        }

        @media screen and (max-width: 360px) {
          height: 180px;
        }

        &.-active {
          .card-item__side {
            &.-front {
              transform: perspective(1000px) rotateY(180deg) rotateX(0deg)
                rotateZ(0deg);
            }
            &.-back {
              transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
              // box-shadow: 0 20px 50px 0 rgba(81, 88, 206, 0.65);
            }
          }
        }

        &__focus {
          position: absolute;
          z-index: 3;
          border-radius: 5px;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
          opacity: 0;
          pointer-events: none;
          overflow: hidden;
          border: 2px solid rgba(255, 255, 255, 0.65);

          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: rgb(8, 20, 47);
            height: 100%;
            border-radius: 5px;
            filter: blur(25px);
            opacity: 0.5;
          }

          &.-active {
            opacity: 1;
          }
        }

        &__side {
          border-radius: 15px;
          overflow: hidden;
          // box-shadow: 3px 13px 30px 0px rgba(11, 19, 41, 0.5);
          box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
          transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
          transform-style: preserve-3d;
          transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
          backface-visibility: hidden;
          height: 100%;

          &.-back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
            z-index: 2;
            padding: 0;
            // background-color: #2364d2;
            // background-image: linear-gradient(
            //   43deg,
            //   #4158d0 0%,
            //   #8555c7 46%,
            //   #2364d2 100%
            // );
            height: 100%;

            .card-item__cover {
              transform: rotateY(-180deg)
            }
          }
        }
        &__bg {
          max-width: 100%;
          display: block;
          max-height: 100%;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        &__cover {
          height: 100%;
          background-color: #1c1d27;
          position: absolute;
          height: 100%;
          background-color: #1c1d27;
          left: 0;
          top: 0;
          width: 100%;
          border-radius: 15px;
          overflow: hidden;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(6, 2, 29, 0.45);
          }
        }

        &__top {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 40px;
          padding: 0 10px;

          @media screen and (max-width: 480px) {
            margin-bottom: 25px;
          }
          @media screen and (max-width: 360px) {
            margin-bottom: 15px;
          }
        }

        &__chip {
          width: 60px;
          @media screen and (max-width: 480px) {
            width: 50px;
          }
          @media screen and (max-width: 360px) {
            width: 40px;
          }
        }

        &__type {
          height: 45px;
          position: relative;
          display: flex;
          justify-content: flex-end;
          max-width: 100px;
          margin-left: auto;
          width: 100%;

          @media screen and (max-width: 480px) {
            height: 40px;
            max-width: 90px;
          }
          @media screen and (max-width: 360px) {
            height: 30px;
          }
        }

        &__typeImg {
          max-width: 100%;
          object-fit: contain;
          max-height: 100%;
          object-position: top right;
        }

        &__info {
          background-color: rgba(255, 255, 255, 0);
          color: #fff;
          width: 100%;
          max-width: calc(100% - 85px);
          padding: 10px 15px;
          font-weight: 500;
          display: block;

          cursor: pointer;

          @media screen and (max-width: 480px) {
            padding: 10px;
          }
        }

        &__holder {
          opacity: 0.7;
          font-size: 13px;
          margin-bottom: 6px;
          @media screen and (max-width: 480px) {
            font-size: 12px;
            margin-bottom: 5px;
          }
        }

        &__wrapper {
          font-family: "Source Code Pro", monospace;
          padding: 25px 15px;
          position: relative;
          z-index: 4;
          height: 100%;
          text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
          user-select: none;
          @media screen and (max-width: 480px) {
            padding: 20px 10px;
          }
        }

        &__name {
          font-size: 18px;
          line-height: 1;
          white-space: nowrap;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: uppercase;
          @media screen and (max-width: 480px) {
            font-size: 16px;
          }
        }
        &__nameItem {
          display: inline-block;
          min-width: 8px;
          position: relative;
        }

        &__number {
          background-color: rgba(255, 255, 255, 0.0);
          font-weight: 500;
          line-height: 1;
          color: #fff;
          font-size: 27px;
          margin-bottom: 35px;
          display: inline-block;
          padding: 10px 15px;
          cursor: pointer;

          @media screen and (max-width: 480px) {
            font-size: 21px;
            margin-bottom: 15px;
            padding: 10px 10px;
          }

          @media screen and (max-width: 360px) {
            font-size: 19px;
            margin-bottom: 10px;
            padding: 10px 10px;
          }
        }

        &__numberItem {
          width: 16px;
          display: inline-block;
          &.-active {
            width: 30px;
          }

          @media screen and (max-width: 480px) {
            width: 13px;

            &.-active {
              width: 16px;
            }
          }

          @media screen and (max-width: 360px) {
            width: 12px;

            &.-active {
              width: 8px;
            }
          }
        }

        &__content {
          color: #fff;
          display: flex;
          align-items: flex-start;
        }

        &__date {
            background-color: rgba(255, 255, 255,0);
          flex-wrap: wrap;
          font-size: 18px;
          margin-left: auto;
        //   padding: 10px;
          display: inline-flex;
          width: 120px;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;

          @media screen and (max-width: 480px) {
            font-size: 16px;
          }
        }

        &__dateItem {
            background-color: rgba(255, 255, 255,0);
          position: relative;
          span {
            width: 22px;
            display: inline-block;
          }
        }

        &__dateTitle {
            background-color: rgba(255, 255, 255,0);
          opacity: 0.7;
          font-size: 13px;
          padding-bottom: 6px;
          width: 100%;

          @media screen and (max-width: 480px) {
            font-size: 12px;
            padding-bottom: 5px;
          }
        }
        &__band {
          background: rgba(0, 0, 19, 0.8);
          width: 100%;
          height: 50px;
          margin-top: 30px;
          position: relative;
          z-index: 2;
          @media screen and (max-width: 480px) {
            margin-top: 20px;
          }
          @media screen and (max-width: 360px) {
            height: 40px;
            margin-top: 10px;
          }
        }

        &__cvv {
          text-align: right;
          position: relative;
          z-index: 2;
          padding: 15px;
          .card-item__type {
            opacity: 0.7;
          }

          @media screen and (max-width: 360px) {
            padding: 10px 15px;
          }
        }
        &__cvvTitle {
          padding-right: 10px;
          font-size: 15px;
          font-weight: 500;
          color: #fff;
          margin-bottom: 5px;
        }
        &__cvvBand {
          height: 45px;
          background-color: rgba(255, 255, 255, 1);
          margin-bottom: 30px;
          text-align: right;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 10px;
          color: #1a3b5d;
          font-size: 18px;
          border-radius: 4px;
          box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);

          @media screen and (max-width: 480px) {
            height: 40px;
            margin-bottom: 20px;
          }

          @media screen and (max-width: 360px) {
            margin-bottom: 15px;
          }
        }
      }

      .card-list {
        margin-bottom: -130px;

        @media screen and (max-width: 480px) {
          margin-bottom: -120px;
        }
      }

      .card-input {
        margin-bottom: 20px;
        &__label {
          font-size: 14px;
          margin-bottom: 5px;
          font-weight: 500;
          color: #1a3b5d;
          width: 100%;
          display: block;
          user-select: none;
        }
        &__input {
          width: 100%;
          height: 50px;
          border-radius: 5px;
          box-shadow: none;
          border: 1px solid #ced6e0;
          transition: all 0.3s ease-in-out;
          font-size: 18px;
          padding: 5px 15px;
          background: none;
          color: #1a3b5d;
          font-family: "Source Sans Pro", sans-serif;

          &:hover,
          &:focus {
            border-color: #3d9cff;
          }

          &:focus {
            box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
          }
          &.-select {
            -webkit-appearance: none;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC');
            background-size: 12px;
            background-position: 90% center;
            background-repeat: no-repeat;
            padding-right: 30px;
          }
        }
      }

      .slide-fade-up-enter-active {
        transition: all 0.25s ease-in-out;
        transition-delay: 0.1s;
        position: relative;
      }
      .slide-fade-up-leave-active {
        transition: all 0.25s ease-in-out;
        position: absolute;
      }
      .slide-fade-up-enter {
        opacity: 0;
        transform: translateY(15px);
        pointer-events: none;
      }
      .slide-fade-up-leave-to {
        opacity: 0;
        transform: translateY(-15px);
        pointer-events: none;
      }

      .slide-fade-right-enter-active {
        transition: all 0.25s ease-in-out;
        transition-delay: 0.1s;
        position: relative;
      }
      .slide-fade-right-leave-active {
        transition: all 0.25s ease-in-out;
        position: absolute;
      }
      .slide-fade-right-enter {
        opacity: 0;
        transform: translateX(10px) rotate(45deg);
        pointer-events: none;
      }
      .slide-fade-right-leave-to {
        opacity: 0;
        transform: translateX(-10px) rotate(45deg);
        pointer-events: none;
      }



      .github-btn {
        position: absolute;
        right: 40px;
        bottom: 50px;
        text-decoration: none;
        padding: 15px 25px;
        border-radius: 4px;
        box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
        background: #24292e;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 16px;
        text-align: center;
        transition: all .3s ease-in-out;

        @media screen and (min-width: 500px) {
          &:hover {
            transform: scale(1.1);
            box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
          }
        }

        @media screen and (max-width: 700px) {
          position: relative;
          bottom: auto;
          right: auto;
          margin-top: 20px;

          &:active {
            transform: scale(1.1);
            box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
          }
        }
      }
}
.submit-btn {
    background-color: rgba(0,0,0,0.4);
    color: rgba(256,256,256,0.7);
    border:0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
@import 'media-query';
